@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --fg: black;
  --bg: white;
  --fg-2: red;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  transition: all .3s;
}

.link {
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--fg);
  translate: 0 3px;
  transition: transform .3s;
  transform: scaleX(0);
  transform-origin: bottom right;
}
.link:hover::after, .link.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.link.active::after {
  background-color: var(--fg-2);
}
.link.active {
  color: var(--fg-2);
}

.red {
  --bg: red;
  --fg: white;
  --fg-2: white;
}
.area, .scroll-target {
  background-color: var(--bg);
  padding: .75rem;
}
.scroll-target {
  min-height: 100vh;
}
.area {
  color: var(--fg);
}
a:not(.link):hover {
  opacity: 0.7;
}

h1 {
  font-size: 3rem;
}
#header {
  transition: all .5s;
  z-index: 1000;
}

.box {
  border: 1px solid transparent;
  box-shadow: 0 0 20px 0 #e6e6e6;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--bg);
  width: max-content;
}
.box.gold {
  box-shadow: 0 0 20px 0 orange;
  border-color: darkorange;
  color: darkgoldenrod;
  background-color: rgba(255, 215, 0, 0.85);
}
.canvas .box {
  transform: translate3d(20px, calc(-50%), 0);
  text-align: left;
  border-radius: 5px;
  user-select: none;
  box-shadow: none;
  border: 1px solid gray;
}

.canvas .box::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -30px;
  height: 2px;
  width: 30px;
  background: #181c20;
  translate: 0 -50%;
  outline: 1px solid white;
}

.html {
  transition: all .5s;
}
@starting-style {
  .html {
    opacity: 0;
  }
}
.occluded {
  opacity: 0;
}

.icon {
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 24px;
  height: 24px;
  background-color: var(--fg);
}
