@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --fg: black;
  --bg: white;
  --fg-2: red;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  transition: all .3s;
}

.link {
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--fg);
  translate: 0 3px;
  transition: transform .3s;
  transform: scaleX(0);
  transform-origin: bottom right;
}
.link:hover::after, .link.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.link.active::after {
  background-color: var(--fg-2);
}
.link.active {
  color: var(--fg-2);
}

.red {
  --bg: red;
  --fg: white;
  --fg-2: white;
  color: var(--fg);
}
.area, .scroll-target {
  background-color: var(--bg);
  padding: .75rem;
  max-width: 100%;
}
.scroll-target {
  min-height: 100vh;
  padding: 2rem;
}
.area {
  color: var(--fg);
}
a:not(.link):hover {
  opacity: 0.7;
}

h1 {
  font-size: 3rem;
}
#header {
  transition: all .5s;
  z-index: 1000;
}

.box {
  transition: all .5s;
  @apply rounded-lg bg-white border-4 border-gray-200 shadow-lg shadow-gray-200/50;
  /*border: 1px solid transparent;
  box-shadow: 0 0 20px 0 #e6e6e6;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--bg);
  width: max-content;
  */
  
}
.box.gold {
  @apply bg-gradient-to-br from-yellow-300 via-yellow-400 to-yellow-500 border-4 border-yellow-600 shadow-lg shadow-yellow-500/50
}
.box.silver {
  @apply bg-gradient-to-br from-white to-gray-300 border-gray-400 border-4
}
.box.unknown {
  @apply bg-gradient-to-br from-green-50 to-green-100 border-green-200
}
#erfolge .box, .big-boxes .box {
  @apply min-h-60;
}
#erfolge .box {
  @apply w-80;
}
.big-boxes .box {
  color: black;
  @apply md:w-[30rem] w-full h-[20rem] shadow-none;
}
.border-gradient {
  border: none !important;
  @apply p-2
}
.red .box {
  box-shadow: none;
  color: black;
}

#software .description {
  @apply px-4;
}
#software .title {
  @apply font-bold;
}

.border-gradient > .inner {
  background-color: rgba(255, 255, 255, 0.5);
}
#erfolge .inner {
  @apply p-6
}

.canvas .box {
  text-align: left;
  user-select: none;
}
.box.r {
  translate: 30px  -50%;
  transform-origin: center left;
}
.box.l {
  translate: calc(-100% - 30px) -50%;
  transform-origin: center right;
}
.box.t {
  translate: -50% calc(-100% - 30px);
  transform-origin: bottom center;
}
.box.b {
  translate: -50% 30px;
  transform-origin: top center;
}

.canvas .box::before {
  @apply bg-gray-500;
  content: '';
  position: absolute;
  translate: 0 -50%;
  border-radius: 10px;
  transition: all .5s;
}
.box.r::before {
  top: 50%;
  left: -30px;
  height: 4px;
  width: 30px;
}
.box.l::before {
  top: 50%;
  right: -30px;
  height: 4px;
  width: 30px;
}
.box.t::before {
  left: 50%;
  bottom: -45px;
  width: 4px;
  height: 30px;
}
.box.b::before {
  left: 50%;
  top: -15px;
  width: 4px;
  height: 30px;
}

.html {
  transition: all .5s;
}
@starting-style {
  .html {
    opacity: 0;
  }
}
.occluded {
  opacity: 0;
}

.icon {
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 24px;
  height: 24px;
  background-color: var(--fg);
}
@media (width >= 48rem /* 768px */) {
  .vertical {
    writing-mode: vertical-rl;
  }
}

.grid-auto {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  --fg: black;
  color: black;
}

#hardware .box {
  cursor: pointer;
  @apply border-gray-500;
}
#hardware .description {
  transition: all .5s;
  transform-origin: top;
}
#hardware .box:not(.expanded) .description {
  padding-top: 0;
  padding-bottom: 0;
  display: none;
  transform: scaleY(0);
}
#hardware .inner {
  overflow: hidden;
}
#hardware .box:hover:not(.expanded) {
  transform: scale(1.1);
  border-color: orange;
  background-color: #ffdaa0;
  box-shadow: 0 0 30px 0 orange;
}
#hardware .box:hover:not(.expanded)::before {
  background-color: orange;
}
#hardware .box svg, #hardware .box img {
  height: 50px;
  width: 50px;
  @apply stroke-green-700
}

@media (max-width: 1000px) {
  #hardware .box:not(.expanded) .titles, .box:not(.expanded) .description {
    display: none;
  }
  #hardware .box:not(.expanded) {
    max-width: 70px;
    max-height: 70px;
  }
  #hardware .box svg, #hardware .box img {
    height: 40px;
    width: 40px;
  }
  #hardware .box.expanded {
    cursor: unset;
    width: 80vw;
    max-width: 80vw;
    max-height: 80vh;
    transform: translate(0, 0) !important;
    translate: -50% -50% !important;
    margin-left: 50vw !important;
    margin-top: 50vh !important;
    
  }
  #hardware .tag-wrapper * {
    transition: all .5s;
  }
  #hardware .tag-wrapper {
    transition: transform .5s;
  }
  .tag-wrapper:has(.box.expanded) {
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
    z-index: 100000 !important;
  }
  .box.expanded::before {
    width: 0;
    height: 0;
  }
}